<h1>Thank you for reaching out! We will be in touch shortly!</h1>

<div class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
          <h3>Thank you for reaching out! We will get back to you ASAP!</h3>
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
		  </div>
		</div>
  </div>
</div>
